// Theme's Styles
@import("/Users/dxy/Documents/dxy-gzh/front-end-interview/node_modules/@vuepress/theme-default/styles/index.styl")

// User's Styles
@import("/Users/dxy/Documents/dxy-gzh/front-end-interview/docs/.vuepress/styles/index.styl")