// Theme's Styles
@import("/Users/dxy/Downloads/dxy-gzh/Front-end-Interview/node_modules/@vuepress/theme-default/styles/index.styl")

// User's Styles
@import("/Users/dxy/Downloads/dxy-gzh/Front-end-Interview/docs/.vuepress/styles/index.styl")